@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-weight: 600;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar,
.header,
.content {
    display: grid;
}

.content {
    border: 1px solid black;
}

.sidebar {
    grid-row: 1 / 3;
    grid-template-rows: 1fr 4fr 2fr 3fr;
    gap: 1vh;
    background-color: #4D455D;
    color: #F5E9CF;
}

.sidebar > div > div {
    padding-left: 3vw;
    font-size: 1.3rem;
}

.logo, 
.navigation,
.utilities {
    display: grid;
}

.nav-elem,
.util-elem,
.logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
    transition: box-shadow .45s;
}

.nav-elem:hover, 
.util-elem:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); ;
}

.sidebar > .logo {
    font-size: 1.7rem;
    padding-left: 2vw;
}

:is(.nav-elem, .util-elem, .logo) img {
    position: relative;
    bottom: 1px;
    width: 2rem;
    height: 2rem;
    filter: invert(73%) sepia(9%) saturate(1161%) hue-rotate(128deg) brightness(93%) contrast(89%);
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.header {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: #F5E9CF;
    padding-left: 4%;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

#search {
    outline: none;
    color: white;
    border: 0;
    background-color: #E96479;
    height: 45%;
    border-radius: 15px;
    font-size: 1.2rem;
    padding-left: 3%;
    width: 90%;
}

#search:focus, 
#search:hover,
#search:hover  {
    background-color: #7DB9B6;
}

.user-info {
    display: grid;
    grid-auto-flow: column;
    color: #E96479;
    font-size: 1.4rem;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.user-info > img:first-child,
.search > img {
    width: 2rem;
    height: 2rem;
    filter: invert(55%) sepia(73%) saturate(1012%) hue-rotate(309deg) brightness(91%) contrast(100%);;
}

.user-info > img:first-child:hover {
    filter: invert(73%) sepia(9%) saturate(1161%) hue-rotate(128deg) brightness(93%) contrast(89%);
}

.user-info > img:nth-child(2) {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.header-bottom {
    grid-column: 1 / 3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 8fr 5fr;
    gap: 20px;
    padding-bottom: 10px;
}

.header-bottom > * {
    height: 100%;
}

.header-bottom > img {
    justify-self: center;
    height: 95%;
    width: 95%;
    border-radius: 50%;
}

.greeting {
    display: grid;
    align-items: center;
    font-size: 1.2rem;
    color: #E96479;
}

.name {
    align-self: start;
    font-size: 1.8rem;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    padding-right: 4%;
}

.buttons button {
    border: none;
    border-radius: 20px;
    width: 75%;
    height: 45%;
    font-size: 1.2rem;
    color: white;
    background-color: #E96479;
    min-width: max-content;
}

.buttons button:hover {
    background-color: #7DB9B6;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 5%;
    column-gap: 1.2vw;
    padding: 2% 2% 5%;
}

.content > div {
    border: 1px solid black; 
}

.projects {
    font-size: 1.4rem;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-template-rows: 1.5rem;
    gap: 25px;
    grid-auto-rows: max-content;
}

.projects h3 {
    grid-column: 1/-1;
}

.project {
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 3fr 1fr;
    gap: 1px;
    padding: 5%;
}

.project h4 {
    font-size: 1.2rem;
}

.project p {
    font-weight: 500;
    font-size: 1rem;
    color: rgb(99, 99, 99);
}

.project-images {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1.5rem;
    justify-content: end;
    gap: 5%
}

.project-images img {
    height: 1.5rem;
}


.announcements,
.trending {
    font-size: 1.4rem;
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    gap: 15px;
}

.announcements-container, 
.trending-container{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(75px, 1fr));
    border: 1px solid black;
    border-radius: 15px;
    padding: 2% 5%;
}

.announcement {
    overflow: hidden;
    display: grid;
}

.announcement h4 {
    font-size: 1rem;
    align-self: end;
}

.announcement p {
    margin-top: 5px;
    font-weight: 500;
    font-size: 0.8rem;
    color: rgb(99, 99, 99)
}

.announcement + .announcement {
    border-top: 1px solid gray;
    padding-top: 10px;
}

.trending-container {
    grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
    gap: 15px;
}

.trend {
    display: grid;
    align-items: center;
    grid-template-columns: 4rem 1fr;
    grid-auto-flow: column;
    row-gap: 3px;
}

.trend > img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    grid-row: 1/3;
}

.trend > p {
    font-size: 0.9rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

.trend > p:first-of-type {
    align-self: end;
}

.trend > p:last-of-type {
    align-self: start;
    color: rgb(110, 110, 110);
}