@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar,
.header,
.content {
    border: 1px solid black;
    display: grid;
}

.sidebar {
    grid-row: 1 / 3;
    grid-template-rows: 1fr 4fr 2fr 3fr;
    gap: 1vh;
    background-color: #E96479;
    color: #F5E9CF;
}

.sidebar > div {
    padding-left: 3vw;
    font-size: 1.3rem;
}

.logo, 
.navigation,
.utilities {
    display: grid;
    align-items: center;
}

.nav-elem,
.util-elem,
.logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.sidebar > .logo {
    font-size: 1.7rem;
}

:is(.nav-elem, .util-elem, .logo) img {
    position: relative;
    bottom: 1px;
    width: 2rem;
    height: 2rem;
    filter: invert(73%) sepia(9%) saturate(1161%) hue-rotate(128deg) brightness(93%) contrast(89%);
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.header {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.header > div {
    border: 1px solid black;
}

.search {
    display: grid;
    align-items: center;
    padding-left: 10%;
}

#search {
    border: 0;
    background-color: lightgray;
    height: 40%;
    border-radius: 15px;
    font-size: 1.2rem;
    padding-left: 3%;
    width: 80%;
}

.user-info {
    display: grid;
    grid-auto-flow: column;
    font-size: 1.2rem;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.user-info > img:first-child {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
}

.user-info > img:nth-child(2) {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
}

.buttons {
    grid-column: 1 / 3;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content > div {
    border: 1px solid black; 
}

.projects {
    grid-row: 1 / 3;
}